{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Log Correlation</title>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link rel="stylesheet"
            href="{% static 'css/correlation.css' %}?v={{ timestamp }}" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@1.2.0/dist/chartjs-chart-matrix.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            defer></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            defer></script>
        <script
            src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>

    </head>
    <body>
        <div class="main-wrapper">
            <!-- Sidebar -->
            <div class="sidebar">
                <h4>Diller</h4><br />
                <a href="/#">Statistics</a>
                <a href="/finder/">Finder</a>
                <a href="/log-correlation/">Logs Correlation</a>
            </div>

            <!-- Main Content Area -->
            <div class="content-area">
                <div class="content p-4">
                    <div
                        class="d-flex justify-content-between align-items-center">
                        <h1>Log Correlation</h1>
                        <button class="btn btn-primary"
                            onclick="fetchData()">Refresh</button>
                    </div>
                    <hr />

                    <div class="table-container mt-1">
                        <div class="table-header">
                            <table class="table table-sm table-primary">
                                <thead>
                                    <tr>

                                        <th>Correlation ID</th>

                                        <th>TimeStamp</th>

                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="table-body">
                            <table class="table table-sm custom-table">
                                <tbody>

                                </tbody>
                            </table>

                            <div id="loading" class="text-center"
                                style="display:none;">
                                <div class="spinner-border text-primary"
                                    role="status">
                                    <span
                                        class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination-container">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item disabled"><span
                                        class="page-link"
                                        id="prevBtn">Previous</span></li>
                                <li class="page-item active"><span
                                        class="page-link"
                                        id="currentPage">1</span></li>
                                <li class="page-item"><a class="page-link"
                                        href="#"
                                        id="nextBtn">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Resizable Details Panel -->
            <div id="detailsPanel" class="details-panel">
                <div class="panel-resizer"></div>
                <canvas id="correlationHeatmap" width="100"
                    height="100"></canvas>
                <button class="btn btn-secondary"
                    onclick="closeDetails()">Close</button>
            </div>

        </div>

        <div class="modal fade" id="logDetailsModal" tabindex="-1"
            aria-labelledby="logDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logDetailsModalLabel">Log
                            Details</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped" id="logDetailsTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>TimeStamp</th>
                                    <th>Object ID</th>
                                    <th>Source Address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="logDetailsContent">

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script
            src="{% static 'js/correlation_page.js' %}?v={{ timestamp }}"
            defer>
        </script>
    </body>
</html>
