body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Main layout wrapper */
.main-wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #343a40;
    color: white;
    padding: 20px;
    overflow-y: auto;
    flex-shrink: 0;
}

.sidebar h4 {
    color: #f8f9fa;
    font-size: 30px;
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    font-size: 16px;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #495057;
}

/* Main content */
.content-area {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
    transition: all 0.2s ease;
    background-color: #fdfdfd;
}

/* Table layout */
.table-container {
    padding-bottom: 100px;
    max-height: calc(100vh - 160px);
    overflow-x: auto;
}

.table-header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.table-body {
    width: 100%;
    overflow-y: auto;
    position: relative;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.table th {
    padding: 10px;
    /* padding-left: 50px;  */
    background-color: #495057;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.table td {
    padding: 10px;
    /* padding-left: 100px;  */
    /* This will be dynamically adjusted */
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* Make the table more flexible in the first column */
.modal-content {

    .table th:first-child,
    .table td:first-child {
        width: 1px;
        padding-left: 20px;
        text-align: right;
    }




    .table th:nth-child(2),
    .table td:nth-child(2) {
        text-align: center;
        /* Adjust padding as needed */
    }

    /* Third column */
    .table th:nth-child(3),
    .table td:nth-child(3) {
        text-align: center;
        /* Adjust padding as needed */
    }

    /* Last column */
    .table th:last-child,
    .table td:last-child {
        text-align: center;
    }
}

/* Details Panel */
.details-panel {
    display: none;
    width: 300px;
    min-width: 700px;
    max-width: 1000px;
    background-color: #f8f9fa;
    border-left: 1px solid #ddd;
    overflow: auto;
    position: relative;
    transition: width 0.2s ease;
    flex-shrink: 0;
}

.panel-resizer {
    width: 5px;
    height: 100%;
    cursor: ew-resize;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
}

.panel-resizer:hover {
    background-color: #aaa;
}

/* Pagination */
.pagination-container {
    position: fixed;
    bottom: 0;
    left: 250px;
    right: 0;
    z-index: 10;
    background-color: #fff;
    padding: 9px;
    display: flex;
    justify-content: center;
    transition: left 0.3s ease, width 0.3s ease;
}

.pagination {
    margin-top: 15px;
    justify-content: center;
    display: flex;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    padding: 8px 12px;
}

.custom-table {
    background-color: white;
}

.custom-table tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Hover effect for rows */
table tbody tr:hover td {
    background-color: #f0f0f0;
    cursor: pointer;
}

.details-panel {
    display: flex;
    flex-direction: column;
    /* stack children vertically */
    align-items: center;
    /* center the canvas and button horizontally */
    gap: 1rem;
    /* spacing between elements */
    padding: 1rem;
}

#correlationHeatmap {
    max-width: 80%;
    max-height: 50%;
    height: 400px;
}

#logDetailsModal .modal-dialog {
    max-width: 70%;
    /* Set custom width */
    max-height: 800px;
}

#logDetailsModal .modal-content {

    max-height: 800px;
    /* Ensure the content respects the max-height */
    overflow-y: auto;
    /* Enable scrolling if content exceeds the height */
}




/* Responsive */
/* @media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 100;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .details-panel {
        width: 250px;
    }

    .table th,
    .table td {
        padding: 8px;
    }

    .pagination-container {
        left: 0;
        right: 250px;
    }
} */